@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono|Material+Icons');/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

* {
    margin: 0;
    padding: 0;
}

/*----Menu----*/
.navbar {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: auto;
    background-color: #f3f3f3;
}
.nav-home {
    overflow: hidden;
}
#logo{
    width: auto;
    height: 100%;
    max-height: 6rem;
}
.nav-options {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.option {
    display: block;
    position: relative;
    float: left;
    margin: 2rem 0;
    padding: 0rem 2rem 0rem 0rem;
}
.searchbar{
    overflow: visible;
}
#searchfield {
    width: 10rem;
    height: 2rem;
    font-size: 1.5rem;
    padding: 0.25rem;
    border: none;
    border-bottom: 2px solid #172c44;
    background-color: #f3f3f3;
    position: relative;
    float: right;
    margin: 1.8rem 0;
    font-family: 'Montserrat', sans-serif;
}
#searchbutton {
    width: 2rem;
    height: 2rem;
    position: relative;
    float: right;
    margin: 2rem 1rem;
    border: none;
    background-color: transparent;
    background: url(pics/baseline-search-24px.svg) no-repeat center;
    background-size: contain;
}

/*----Main Content----*/
.main-content {
    width: 100%;
    height: 30rem;
    margin-top: 6rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
    background: url('pics/home_background.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.title{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
.main-title {
    width: 60%;
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    margin: 0;
}
h2 {
    width: 90%;
    margin: 1rem auto;
}
.twocolumns {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

/*----People, Companies, Projects----*/
.people-content, .companies-content, .projects-content, .project-details-content, .about-content {
    width: 100%;
    height: auto;
    margin-top: 7rem;
    font-family: 'Roboto Mono', monospace;
}

/*----Tables----*/
table{
    border-collapse: collapse;
    width: 90%;
    margin: 1rem auto;
}
thead {
    background-color: #d3d3d3;
    border-bottom: 2px solid #303841;
}
th {
    height: 2.5rem;
}
th, td, tr {
    border: 1px solid #979797;
    text-align: center;
}
tbody {
    background-color: #f1f1f1;
}
tr {
    height: 1.8rem;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/*----Forms----*/

.form-container {
    width: 90%;
    margin: 1rem auto;
}
.form-field {
    height: 2rem;
    font-size: 1.2rem;
    padding: 0.3rem 0;
}
input[type=text], input[type=email], input[type=date] {
    border: none;
    border-bottom: 1px solid #303841;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    padding: 0.2rem;
}
input[type=text]:hover, input[type=email]:hover, input[type=date] {
    background-color: #f3f3f3;
}
select {
    border: 1px solid #303841;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    padding: 0.2rem;
}
.form-submit {
    background-color: #172c44;
    color: white;
    border: 2px solid #172c44;
    padding: 0.5rem;
    font-family: 'Roboto Mono', monospace;
}
.form-submit:hover {
    background-color: transparent;
    color: #172c44; 
}


/*----Footer----*/
.lablec {
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #303841;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
}
.lablec a {
    color: white;
}
.lablec a:hover {
    color: white;
    border-bottom: 2px solid white;
}

/*----Links----*/
a {
    text-decoration: none;
    color: #303841;
    background-color: transparent;
    padding-bottom: 2px;
    transition: all .2s;
}
a:hover{
    text-decoration: none;
    color: #172c44;
    background-color: transparent;
    border-bottom: 2px solid #172c44;
}
a:active {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

/*----About----*/
.about-text {
    text-align: center;
    margin: 3rem 0;
}
.about-text p {
    margin: 1rem 0;
}